This notebook pulls in data on Toronto and prepares it for analysis.

INSTRUCTIONS:
For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, 
in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe...

In [14]:
# The code was removed by Watson Studio for sharing.

  Unnamed: 0    Unnamed: 1        Unnamed: 2  Unnamed: 3  Unnamed: 4
0   Postcode       Borough      Neighborhood         NaN         NaN
1        M1A  Not assigned      Not assigned         NaN         NaN
2        M2A  Not assigned      Not assigned         NaN         NaN
3        M3A    North York         Parkwoods         NaN         NaN
4        M4A    North York  Victoria Village         NaN         NaN

In [15]:
df1 = df.drop(["Unnamed: 3", "Unnamed: 4"], axis=1) #drop unnecessary columns from dataframe
df1.head() #shows data for the first five rows of dataframe at this point

  Unnamed: 0    Unnamed: 1        Unnamed: 2
0   Postcode       Borough      Neighborhood
1        M1A  Not assigned      Not assigned
2        M2A  Not assigned      Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

INSTRUCTION: 3(a). The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [16]:
new_header = df1.iloc[0] #grab the first row for the header
TOR = df1[1:] #take the data less the header row and rename as TOR dataframe
TOR.columns = new_header #set the header row as the df header
TOR.head() #shows data for the first five rows of dataframe

0 Postcode           Borough      Neighborhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [17]:
TOR.shape #Output shows that there are 287 rows in total at this point.

(287, 3)

INSTRUCTION: 3(b). Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [18]:
indexNames = TOR[ TOR['Borough'] == "Not assigned" ].index #create index where Borough = Not assigned.
indexNames #lists the row indexes where Borough = Not assigned.

Int64Index([  1,   2,   9,  13,  20,  21,  30,  36,  37,  45,  46,  50,  51,
             52,  54,  55,  59,  60,  61,  73,  74,  75,  88,  89,  90, 104,
            105, 106, 120, 121, 136, 137, 148, 149, 155, 161, 162, 167, 175,
            181, 182, 188, 189, 190, 194, 195, 201, 202, 203, 204, 209, 210,
            223, 224, 237, 238, 241, 242, 247, 248, 253, 254, 258, 259, 260,
            261, 263, 264, 274, 275, 276, 277, 278, 279, 280, 281, 287],
           dtype='int64')

In [19]:
TOR.drop(indexNames , inplace=True) # Delete/drop the Borough = 'Not assigned' row indexes from dataFrame
TOR.head() #shows data for the first five rows of dataframe at this point

0 Postcode           Borough      Neighborhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor

In [20]:
TOR.shape #After dropping the 77 indexes where Borough = Not assigned, the rows were reduced to 210.

(210, 3)

INSTRUCTION: 3(c). More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [21]:
TOR.groupby('Postcode').count() #Shows how many borough(s) and neighborhood(s) are in each postcode.

0         Borough  Neighborhood
Postcode
M1B             2             2
M1C             3             3
M1E             3             3
M1G             1             1
M1H             1             1
M1J             1             1
M1K             3             3
M1L             3             3
M1M             3             3
M1N             2             2
M1P             3             3
M1R             2             2
M1S             1             1
M1T             3             3
M1V             4             4
M1W             1             1
M1X             1             1
M2H             1             1
M2J             3             3
M2K             1             1
M2L             2             2
M2M             2             2
M2N             1             1
M2P             1             1
M2R             1             1
M3A             1             1
M3B             1             1
M3C             2             2
M3H             3             3
M3J             2             2
...           ...           ...
M6C             1             1
M6E             1             1
M6G             1             1
M6H             2             2
M6J             2             2
M6K             3             3
M6L             3             3
M6M             4             4
M6N             2             2
M6P             2             2
M6R             2             2
M6S             2             2
M7A             1             1
M7R             1             1
M7Y             1             1
M8V             3             3
M8W             2             2
M8X             3             3
M8Y             8             8
M8Z             5             5
M9A             1             1
M9B             5             5
M9C             4             4
M9L             1             1
M9M             2             2
M9N             1             1
M9P             1             1
M9R             4             4
M9V             8             8
M9W             1             1

[103 rows x 2 columns]

In [22]:
#Group rows by postcodes and neighborhoods 
TOR = TOR.groupby('Postcode').agg({'Borough':'first', 
                             'Neighborhood': ', '.join 
                             }).reset_index()

TOR.head() #Shows the first 5 lines of the new TOR dataframe at this point with neighborhoods separated by ',' if they are in the same postcode.

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [23]:
TOR.loc[TOR['Postcode'] == 'M9V'] #Locate a specific postcode and see its corresponding borough and neighborhoods.

    Postcode    Borough                                       Neighborhood
101      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...

INSTRUCTION: 3(d).If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [24]:
TOR.loc[TOR['Neighborhood'] == 'Not assigned'] #lists the rows where Neighborhood = Not assigned.  In this case, there is only one--index 85.

   Postcode       Borough  Neighborhood
85      M7A  Queen's Park  Not assigned

In [25]:
#Changing where Neighborhood = Not assigned (in this case index 85) to be the same as the Borough. 
TOR['Neighborhood'] = np.where(TOR['Neighborhood'] == 'Not assigned', TOR['Borough'], TOR['Neighborhood'])

TOR #Scroll down to index 85 to see that the Neighborhood name is now the same as its Borough, which is Queen's Park.

,Postcode,Borough,Neighborhood
0,M1B,Scarborough,"Rouge, Malvern"
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park"
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge"
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West"
9,M1N,Scarborough,"Birch Cliff, Cliffside West"
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ..."
11,M1R,Scarborough,"Maryvale, Wexford"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter"
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St..."
15,M1W,Scarborough,L'Amoreaux West
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview, Henry Farm, Oriole"
19,M2K,North York,Bayview Village
20,M2L,North York,"Silver Hills, York Mills"
21,M2M,North York,"Newtonbrook, Willowdale"
22,M2N,North York,Willowdale South
23,M2P,North York,York Mills West
24,M2R,North York,Willowdale West
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills North
27,M3C,North York,"Flemingdon Park, Don Mills South"
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights"
29,M3J,North York,"Northwood Park, York University"
...,...,...,...
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dovercourt Village, Dufferin"
77,M6J,West Toronto,"Little Portugal, Trinity"
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village"
79,M6L,North York,"Downsview, North Park, Upwood Park"
80,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silverthorn"
81,M6N,York,"The Junction North, Runnymede"
82,M6P,West Toronto,"High Park, The Junction South"
83,M6R,West Toronto,"Parkdale, Roncesvalles"
84,M6S,West Toronto,"Runnymede, Swansea"
85,M7A,Queen's Park,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto"
89,M8W,Etobicoke,"Alderwood, Long Branch"
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
93,M9A,Downtown Toronto,Queen's Park
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,Etobicoke,Northwest

INSTRUCTION: 3(e).Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.

Please see the markdowns and comments provided in this notebook.

INSTRUCTION: 3(f). In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [26]:
TOR.shape #Shows that my TOR dataframe currently has 103 rows, which is down rom 287 rows due to eliminating duplicates and other clean-ups.

(103, 3)

So far, I have created the TOR dataframe of the postal code of each neighborhood in Toronto with the borough name and neighborhood name. The comments and markdown boxes should have shown how I derived each step of the submission requirements.INSTRUCTION: 3(f).

In [28]:
# Load the pandas libraries with alias 'pd' 
import pandas as pd

body = client_12eef3145cf04a19913729ca2349920b.get_object(Bucket='datasciencecapstonetorontoneighbo-donotdelete-pr-k2ky7fwqmueohj',Key='Geospatial_Coordinates_Toronto.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

LatLng = pd.read_csv(body)
LatLng.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

INSTRUCTION: Use the Geocoder package or the csv file to create a dataframe that combines TOR dataframe and the latitude and longitude info found in the Geospatial_Coordinates_Toronto.csv

In [30]:
LatLng.rename(columns = {'Postal Code':'Postcode'}, inplace = True) #rename column Postal Code to Postcode
LatLng.head() #show the first 5 rows

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [34]:
TOR2 = (pd.merge(TOR, LatLng, on='Postcode')) #merge dataframes TOR and LatLng based on Postcode
TOR2.head() #show the first 5 rows

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [35]:
TOR2.shape 
#New TOR2 dataframe now has 103 rows (same as before) but 2 more columns because..
#columns Latitude and Longitude were added (now 5 columns)

(103, 5)